.about {
  width: 95%;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
  background-color: $second-font-color;
  border: 1px solid $main-color;
  border-radius: .5rem;
  // display: flex;
  box-shadow: $box-shadow;
  .about_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $second-font-color;
    padding: 1rem;
    border: 1px solid $main-color;
    border-radius: .5rem;
    margin-top: 1rem;
    box-shadow: $box-shadow;
  }
  p {
    font-size: $regular-font;
    text-align: justify;
    line-height: 2.5rem;
    letter-spacing: 1px;
    white-space: pre-line;
    background-color: $second-font-color;
    padding: 1rem;
    border: 1px solid $main-color;
    border-radius: .5rem;
    color: $font-color-2;
  }

  h2 {
    font-size: $large-font;
    color: $border-color;
    margin: 1rem 0;
    
  }

  h3 {
    cursor: pointer;
    user-select: none;
    // width: 10rem;
    font-size: $regular-font;
    text-align: end;
    transition: .2s linear;
    &:hover {
      color: $font-color-2;
    }
    // border: 1px solid $border-color;
  }

  .my_skills {
    font-size: $regular-font;
    // li {
    //   width: 100%;
    //   margin: 1rem 0;
    // }

    li {
      // display: flex;
      // align-items: center;
      // width: 100%;
      margin: 1rem 0;
      color: $font-color-2;
      font-weight: $heavy-weigth;
      .sub_skill {
        display: flex;
        flex-wrap: wrap;
        margin-left: 1rem;
        li {
          // flex-shrink: 0;
          // width: 100%;
          // display: flex;
          // align-items: center;
          font-weight: $regular-weigth;
          color: $border-color;
          margin-right: 1rem;

        }
      }
    }
  } 

  .learning {
    width: 100%;
    height: auto;
    background-color: $second-font-color;
    padding: 1rem;
    border: 1px solid $main-color;
    border-radius: .5rem;
    margin-top: 1rem;
    h2 {
      text-align: center;
    }
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    align-items: center;
    .learning_list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;
      // display: flex;
      // justify-content: space-between;
      // align-items: center;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .icon {
          font-size: $regular-icon;
          margin-bottom: 1rem;
        }

        span {
          font-size: $regular-font;
          color: $font-color;
        }
      }
    }
  }
}