@mixin block($size) {
  width: 2rem;
  height: $size;
  background: $bars-color;
  border: none;
}

@mixin group-block($heigh) {
  width: 2rem;
  height: $heigh;
  background: $bars-color;
  border: none;
}

.divider {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 1rem auto;
  // margin: 6rem 0;
  border-bottom: 3px solid $border-color;
  .section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15rem;
      height: 3rem;
      background-color: $main-color;
      color: $second-font-color;
      letter-spacing: 1px;
    }

    .block-1 {
      @include block(2rem);
      @include animation(1s);
      
    }
    .block-2 {
      @include block(1rem);
      @include animation(1.5s);
    }
    
  }

  .group_blocks {
    display: flex;
    align-items: flex-end;
    .block-3 {
      @include group-block(1rem);
      @include animation(3s);
    }
    .block-4 {
      @include group-block(4rem);
      @include animation(1s);
    }
    .block-5 {
      @include group-block(2rem);
      @include animation(2s);
    }
    .block-6 {
      @include group-block(1rem);
      @include animation(1.5s);
    }
    .block-7 {
      @include group-block(3rem);
      @include animation(.5s);
    }
    .block-8 {
      @include group-block(1rem);
      @include animation(2.5s);
    }
    .block-9 {
      @include group-block(1rem);
      @include animation(1.8s);
    }
    .block-10 {
      @include group-block(1rem);
      @include animation(3.2s);
    }

    &:nth-child(1) {
      display: none;
    }
  }
}