.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  position: relative;
  align-items: center;
  margin-top: 4rem;
  padding: 1rem;
  padding-top: 5rem;
  overflow: hidden;
  // height: 40rem;

  .profile_picture {
    // width: 15rem;
    position: relative;
    // width: 40%;
    height: 20rem;
    // overflow: hidden;
    img {
      border-radius: 1rem;
      // border-top-right-radius: 50%;
      // border-bottom-left-radius: 50%;
      width: 100%;
      height: inherit;
      object-fit: cover;
      &:last-child {
        position: absolute;
        left: 0;
        // transform: scale(1.1);
        filter: blur(1rem);
        z-index: -1;
      }
    }
  }

  .main_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
    
    // &:last-child {
    //   font-size: $small-font;
    // }
    h1 {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      text-align: start;
      color: $font-color-2;
    }
    h2 {
      text-align: start;
      margin-bottom: 1rem;
      text-align: justify;
      font-size: $regular-font;
      // &:nth-last-child(1) {
      //   font-size: $small-font;
      // }
    }

    h3 {
      font-size: $regular-font;
    }
  }

  .react-icon {
    margin-left: 1rem;
    // align-self: center;
    // position: absolute;
    // top: 20%;
    // right: 0;
    // transform: scale(5);
    // filter: blur(1px);
    // z-index: -2;
    .icon {
      // opacity: .5;
      // position: fixed;
      // bottom: 0;
      // right: 0;
      // // transform: scale(10.5);
      // filter: blur(1px) opacity(0.3);
      // z-index: -1;
      animation-name: rotate;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      font-size: $large-icon;
      color: $font-color-2;
      user-select: none;
    }
  }

  .background_image {
    position: lef;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    transform: scale(-1);
    /* transform: translateY(-50%); */
    filter: blur(0px);
    opacity: .5;

    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }

    .background-2 {
      position: absolute;
      z-index: -2;
      animation-name: pulse-2;
      animation-duration: 5s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      z-index: -1;
    }
  }


}