.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  align-items: center;
  padding: 1rem;
  // height: 40rem;

  .profile_picture {
    position: relative;
    // width: 40%;
    height: 20rem;
    // overflow: hidden;
    img {
      border-radius: 1rem;
      // border-top-right-radius: 50%;
      // border-bottom-left-radius: 50%;
      width: 100%;
      height: inherit;
      object-fit: cover;
      &:last-child {
        position: absolute;
        left: 0;
        // transform: scale(1.1);
        filter: blur(1rem);
        z-index: -1;
      }
    }
  }

  .main_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
    
    // &:last-child {
    //   font-size: $small-font;
    // }
    h1 {
      color: $react-color;
      margin-bottom: 1rem;
    }
    h2 {
      text-align: start;
      margin-bottom: 1rem;
      &:nth-last-child(2) {
        font-size: $small-font;
      }
    }
    .icon {
      font-size: $large-icon;
      color: $react-color;
      align-self: center;
    }
  }



}