.skills {
  width: 100%;
  padding: 1rem;

  .skill_list {
    display: flex;
    justify-content: center;
    // justify-content: center;
    flex-wrap: wrap;

    li {
      display: flex;
      flex-direction: column;
      // justify-self: flex-start;
      align-items: center;
      flex-shrink: 0;
      margin: 1rem;
      font-size: $regular-font;
      // animation-delay: 3s;
      .icon {
        font-size: $large-icon;
      }
    }
  }
}