@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
.btn {
  width: 10rem;
  height: 3rem;
  text-align: center;
}

.btn_primary {
  border: 1px solid #7395EE;
  background-color: #A4BDFF;
  color: #f5f5f5;
}

@-webkit-keyframes bars {
  from {
    height: .3rem;
  }
  to {
    height: 3rem;
  }
}

@keyframes bars {
  from {
    height: .3rem;
  }
  to {
    height: 3rem;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg) scale(15.5);
            transform: rotate(0deg) scale(15.5);
  }
  to {
    -webkit-transform: rotate(365deg) scale(15.5);
            transform: rotate(365deg) scale(15.5);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg) scale(15.5);
            transform: rotate(0deg) scale(15.5);
  }
  to {
    -webkit-transform: rotate(365deg) scale(15.5);
            transform: rotate(365deg) scale(15.5);
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #7395EE;
}

.header h2 {
  font-size: 1.8rem;
  color: #A4BDFF;
}

.header .icon {
  color: #A4BDFF;
}

.header .navbar_mobile {
  width: 25rem;
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 1.6rem;
  z-index: 1;
}

.header .navbar_mobile .mobile_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 189, 255, 0)), color-stop(33%, #a4bdff));
  background: linear-gradient(90deg, rgba(164, 189, 255, 0) 0%, #a4bdff 33%);
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
}

.header .navbar_mobile .mobile_menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  height: 3rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(164, 189, 255, 0)), color-stop(33%, #a4bdff));
  background: linear-gradient(90deg, rgba(164, 189, 255, 0) 0%, #a4bdff 33%);
  text-align: center;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.header .navbar_mobile .mobile_menu li a {
  color: #f5f5f5;
}

.header .navbar_mobile .block_menu_container {
  position: absolute;
  top: 50%;
  left: -5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1rem;
  height: 20rem;
  background-color: #A4BDFF;
  border: 1px solid #7395EE;
  -webkit-box-shadow: 2px 0 15px 5px #7395EE;
          box-shadow: 2px 0 15px 5px #7395EE;
  z-index: -3;
}

.header .navbar_mobile .block_menu_container .menu-block-1 {
  width: 3rem;
  height: 1rem;
  background-color: #A4BDFF;
  position: absolute;
  top: 10%;
  left: -2rem;
  border: 1px solid #7395EE;
}

.header .navbar_mobile .block_menu_container .menu-block-2 {
  width: 4rem;
  height: 2rem;
  background-color: #A4BDFF;
  position: absolute;
  top: 30%;
  left: -2rem;
  border: 1px solid #7395EE;
}

.header .navbar_mobile .block_menu_container .menu-block-3 {
  width: 5rem;
  height: 1rem;
  background-color: #A4BDFF;
  position: absolute;
  top: 59%;
  left: -2rem;
  border: 1px solid #7395EE;
}

.header .navbar_mobile .block_menu_container .menu-block-4 {
  width: 3rem;
  height: 3rem;
  background-color: #A4BDFF;
  position: absolute;
  top: 80%;
  left: -2rem;
  border: 1px solid #7395EE;
}

.header .navbar_desk {
  display: none;
  width: 50%;
}

.header .navbar_desk .desk_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar_desk .desk_menu li {
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.header .navbar_desk .desk_menu li a {
  font-size: 1.6rem;
  color: #7395EE;
}

.header .navbar_desk .desk_menu li:hover {
  font-weight: 500;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  padding: 1rem;
  padding-top: 5rem;
}

.main .profile_picture {
  position: relative;
  height: 20rem;
}

.main .profile_picture img {
  border-radius: 1rem;
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .profile_picture img:last-child {
  position: absolute;
  left: 0;
  -webkit-filter: blur(1rem);
          filter: blur(1rem);
  z-index: -1;
}

.main .main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: end;
}

.main .main_content h1 {
  color: #58DAFB;
  margin-bottom: 1rem;
}

.main .main_content h2 {
  text-align: start;
  margin-bottom: 1rem;
  text-align: justify;
}

.main .main_content h2:nth-last-child(3) {
  font-size: 1.1rem;
}

.main .main_content div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main .main_content div .icon {
  position: fixed;
  bottom: 0;
  right: 0;
  -webkit-filter: blur(1px) opacity(0.3);
          filter: blur(1px) opacity(0.3);
  z-index: -1;
  -webkit-animation-name: rotation;
          animation-name: rotation;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  font-size: 5rem;
  color: #58DAFB;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  border-bottom: 3px solid #7395EE;
}

.divider .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.divider .section h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  height: 3rem;
  background-color: #A4BDFF;
  color: #f5f5f5;
  letter-spacing: 1px;
}

.divider .section .block-1 {
  width: 2rem;
  height: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(164, 189, 255, 0.224527)), color-stop(57%, #a4bdff));
  background: linear-gradient(180deg, rgba(164, 189, 255, 0.224527) 0%, #a4bdff 57%);
  border: none;
  -webkit-animation-name: bars;
          animation-name: bars;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.divider .section .block-2 {
  width: 2rem;
  height: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(164, 189, 255, 0.224527)), color-stop(57%, #a4bdff));
  background: linear-gradient(180deg, rgba(164, 189, 255, 0.224527) 0%, #a4bdff 57%);
  border: none;
  -webkit-animation-name: bars;
          animation-name: bars;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.divider .group_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.divider .group_blocks .block-3 {
  width: 2rem;
  height: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(164, 189, 255, 0.224527)), color-stop(57%, #a4bdff));
  background: linear-gradient(180deg, rgba(164, 189, 255, 0.224527) 0%, #a4bdff 57%);
  border: none;
  -webkit-animation-name: bars;
          animation-name: bars;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.divider .group_blocks .block-4 {
  width: 2rem;
  height: 4rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(164, 189, 255, 0.224527)), color-stop(57%, #a4bdff));
  background: linear-gradient(180deg, rgba(164, 189, 255, 0.224527) 0%, #a4bdff 57%);
  border: none;
  -webkit-animation-name: bars;
          animation-name: bars;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.divider .group_blocks .block-5 {
  width: 2rem;
  height: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(164, 189, 255, 0.224527)), color-stop(57%, #a4bdff));
  background: linear-gradient(180deg, rgba(164, 189, 255, 0.224527) 0%, #a4bdff 57%);
  border: none;
  -webkit-animation-name: bars;
          animation-name: bars;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.divider .group_blocks .block-6 {
  width: 2rem;
  height: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(164, 189, 255, 0.224527)), color-stop(57%, #a4bdff));
  background: linear-gradient(180deg, rgba(164, 189, 255, 0.224527) 0%, #a4bdff 57%);
  border: none;
  -webkit-animation-name: bars;
          animation-name: bars;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.divider .group_blocks .block-7 {
  width: 2rem;
  height: 3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(164, 189, 255, 0.224527)), color-stop(57%, #a4bdff));
  background: linear-gradient(180deg, rgba(164, 189, 255, 0.224527) 0%, #a4bdff 57%);
  border: none;
  -webkit-animation-name: bars;
          animation-name: bars;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.divider .group_blocks .block-8 {
  width: 2rem;
  height: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(164, 189, 255, 0.224527)), color-stop(57%, #a4bdff));
  background: linear-gradient(180deg, rgba(164, 189, 255, 0.224527) 0%, #a4bdff 57%);
  border: none;
  -webkit-animation-name: bars;
          animation-name: bars;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.divider .group_blocks .block-9 {
  width: 2rem;
  height: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(164, 189, 255, 0.224527)), color-stop(57%, #a4bdff));
  background: linear-gradient(180deg, rgba(164, 189, 255, 0.224527) 0%, #a4bdff 57%);
  border: none;
  -webkit-animation-name: bars;
          animation-name: bars;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.divider .group_blocks .block-10 {
  width: 2rem;
  height: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(164, 189, 255, 0.224527)), color-stop(57%, #a4bdff));
  background: linear-gradient(180deg, rgba(164, 189, 255, 0.224527) 0%, #a4bdff 57%);
  border: none;
  -webkit-animation-name: bars;
          animation-name: bars;
  -webkit-animation-duration: 3.2s;
          animation-duration: 3.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.projects {
  width: 100%;
  padding: 1rem;
}

.projects .project_card {
  width: 100%;
  padding: .5rem;
  border: 2px solid #7395EE;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

.projects .project_card .project_content {
  width: 100%;
}

.projects .project_card .project_content .project_screenshot img {
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects .project_card .project_content .project_info {
  margin-top: 1rem;
}

.projects .project_card .project_content .project_info h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #637ec4;
}

.projects .project_card .project_content .project_info p {
  font-size: 1.1rem;
  text-align: justify;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.projects .project_card .project_technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  border-top: 1px solid #7395EE;
  padding-top: 1rem;
}

.projects .project_card .project_technologies .technologies_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .project_card .project_technologies .technologies_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  font-size: 1.6rem;
  height: auto;
}

.projects .project_card .project_technologies .technologies_list li .icon {
  font-size: 3rem;
}

.projects .project_card .project_technologies .project_links {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .project_card .project_technologies .project_links .icon {
  color: #A4BDFF;
  font-size: 3rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.projects .project_card .project_technologies .project_links .icon:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  color: #637ec4;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.skills {
  width: 100%;
  padding: 1rem;
}

.skills .skill_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills .skill_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 1rem;
  font-size: 1.6rem;
}

.skills .skill_list li .icon {
  font-size: 5rem;
}

.about {
  width: 100%;
  padding: 1rem;
}

.about p {
  font-size: 1.6rem;
  text-align: justify;
  line-height: 2.5rem;
  letter-spacing: 1px;
}

.about h2 {
  font-size: 1.8rem;
  color: #7395EE;
  margin: 1rem 0;
}

.about .my_skills {
  font-size: 1.6rem;
}

.about .my_skills li {
  color: #637ec4;
  font-weight: 500;
}

.about .my_skills li .sub_skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 1rem;
}

.about .my_skills li .sub_skill li {
  font-weight: 400;
  color: #7395EE;
  margin-right: 1rem;
}

.interested {
  width: 100%;
  padding: 1rem;
}

.interested .interested_list {
  font-size: 1.6rem;
}

.interested .interested_list li {
  margin: 1rem 0;
  font-weight: 500;
  color: #637ec4;
}

.interested .interested_list .list_hobbies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #7395EE;
}

.interested .interested_list .list_hobbies li {
  font-weight: 400;
  color: #7395EE;
  margin-right: 1rem;
}

.contact {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.contact h2 {
  margin: 1rem 0;
}

.contact .contact_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact_list li {
  margin-right: 1rem;
}

.contact .contact_list li .icon {
  font-size: 3rem;
}

.contact .contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact_form input {
  height: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  border: 1px solid #7395EE;
  color: #7395EE;
  letter-spacing: 1px;
}

.contact .contact_form input:focus {
  outline: 1px solid #A4BDFF;
}

.contact .contact_form input::-webkit-input-placeholder {
  color: #7395EE;
}

.contact .contact_form input:-ms-input-placeholder {
  color: #7395EE;
}

.contact .contact_form input::-ms-input-placeholder {
  color: #7395EE;
}

.contact .contact_form input::placeholder {
  color: #7395EE;
}

.contact .contact_form textarea {
  height: 10rem;
  margin-bottom: 1rem;
  border: 1px solid #7395EE;
  padding: 1rem;
  color: #7395EE;
  letter-spacing: 1px;
  resize: none;
}

.contact .contact_form textarea:focus {
  outline: 1px solid #A4BDFF;
}

@media only screen and (min-width: 1366px) {
  .header {
    width: 90%;
    margin: 5rem auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 0;
  }
  .header .menu {
    display: none;
  }
  .header .navbar_mobile {
    display: none;
  }
  .header .navbar_desk {
    display: revert;
  }
}

@media only screen and (min-width: 1600px) {
  .header {
    width: 80%;
    margin: 5rem auto;
    margin: 0;
  }
}

@media only screen and (min-width: 1920px) {
  .header {
    width: 70%;
    margin: 5rem auto;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .profile_picture {
    width: 30%;
  }
  .main .main_content {
    width: 60%;
  }
  .main .main_content h2 {
    font-size: 2.8rem;
  }
  .main .main_content h2:nth-last-child(2) {
    font-size: 1.8rem;
    text-align: end;
  }
  .main .main_content h1 {
    font-size: 3.8rem;
  }
  .main .main_content .icon {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media only screen and (min-width: 1366px) {
  .main {
    width: 90%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 1600px) {
  .main {
    width: 80%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 1920px) {
  .main {
    width: 70%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 768px) {
  .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .projects .project_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  .projects .project_card .project_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects .project_card .project_content .project_screenshot {
    width: 100%;
    margin-bottom: 1rem;
  }
  .projects .project_card .project_content .project_info {
    width: 100%;
  }
}

@media only screen and (min-width: 1366px) {
  .projects {
    width: 90%;
    margin: 5rem auto;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1600px) {
  .projects {
    width: 80%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 1920px) {
  .projects {
    width: 70%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 768px) {
  .skills .skill_list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills .skill_list li {
    font-size: 1.6rem;
  }
  .skills .skill_list li .icon {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1366px) {
  .skills {
    width: 90%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 1600px) {
  .skills {
    width: 80%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 1920px) {
  .skills {
    width: 70%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 768px) {
  .about p {
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 20px;
  }
  .about h2 {
    font-size: 2.8rem;
  }
  .about .my_skills {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1366px) {
  .about {
    width: 90%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 1600px) {
  .about {
    width: 80%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 1920px) {
  .about {
    width: 70%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 768px) {
  .interested .interested_list {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1366px) {
  .interested {
    width: 90%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 1600px) {
  .interested {
    width: 80%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 1920px) {
  .interested {
    width: 70%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 1366px) {
  .divider {
    width: 90%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 1600px) {
  .divider {
    width: 80%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 1920px) {
  .divider {
    width: 70%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 768px) {
  .contact .contact_form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
        grid-template-areas: " name name " " email subject " " message message " " message message ";
  }
  .contact .contact_form .name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: name;
  }
  .contact .contact_form .email {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: email;
  }
  .contact .contact_form .subject {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: subject;
  }
  .contact .contact_form .message {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: message;
  }
}

@media only screen and (min-width: 1366px) {
  .contact {
    width: 90%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 1600px) {
  .contact {
    width: 80%;
    margin: 5rem auto;
  }
  .contact .contact_form {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: " name email subject " " message message message";
  }
}

@media only screen and (min-width: 1920px) {
  .contact {
    width: 70%;
    margin: 5rem auto;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  color: #7395EE;
}

.icon {
  font-size: 2rem;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=styles.css.map */