$background-color: #fff;
$main-color: #A4BDFF;
$font-color: #595959;
$border-color: #7395EE;

$html-color: #d84b24;
// $html-color-active: #D84B24;
$css-color: #2B6CAD;
// $css-color-active: #2B6CAD;
$js-color: #ffe047;
// $js-color-active: #CBB133;
$sass-color: #C26191;
// $sass-color-active: #C26191;
$npm-color: #C13534;
// $npm-color-active: #C13534;
$react-color: #58DAFB;
// $react-color-active: #58DAFB;
$github-color: #272727;
$redux-color: #764ABC;
$debbug-color: #3a92ff;
