@media only screen and ( min-width: 768px ) {
  .skills {
    .skill_list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      justify-content: center;
  
      li {
        font-size: $regular-font;
        .icon {
          font-size: $regular-icon;
        }
      }
    }
  }
}

@media only screen and ( min-width: 1366px ) {
  .skills {
    @include container-90();
  }
}

@media only screen and ( min-width: 1600px ) {
  .skills {
    @include container-80();
  }
}

@media only screen and ( min-width: 1920px ) {
  .skills {
    @include container-70();
  }
}